<a id='loginbutton' href='javascript:void(0);'>Login</a>

<%= form_tag('/admin/login', :method => 'post', :id => 'loginform') do %>
  <div>
    <%= text_field_tag :username %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Login', :id => 'login' %>
  </div>
<% end %>
