#runners {
  margin: auto;
  width: 400px;
  font-family: 'Helvetica Neue';
}

#loginform, #loginbutton {
  position: absolute;
  margin: 10px;
  right: 0px;
  bottom: 0px;
}

#loginform {
}

#loginform input[type='text'], #loginform input[type='password'] {
  border: 1px solid #777;
  padding: 3px;
}

table {
  border-spacing: 5px;
}

#runners tr > th {
  font-size: 14pt;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

#runners tr > th.name {
  text-align: left;
}

.runner {
}

.runner > td {
  background-color: #e7e7e7;
  padding: 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#runners .name {
  font-weight: bold;
}

#runners .number {
  font-weight: bold;
  color: #359;
  text-align: center;
  width: 40px;
}

#runners .time {
  font-weight: bold;
  color: green;
  text-align: center;
}
