#runners {
  margin: auto;
  width: 400px;
  font-family: 'Helvetica Neue';
}

table {
  border-spacing: 20px;
}

#runners tr > th {
  font-size: 14pt;
  text-align: left;
}

.runner {
}

#runners .name {
  font-weight: bold;
}

#runners .number {
  font-weight: bold;
  color: #359;
  text-align: center;
  width: 20px;
}

#runners .time {
  font-weight: bold;
  color: green;
}
