%table
  - sort_by_time(@runners).each do |runner|
    %tr
      %td= runner.number
      %td= runner.name
      -if runner.minutes && runner.seconds
        %td= runner.minutes.to_s + ":" + ('%05.2f' % runner.seconds)

=link_to "Add Runners", new_runner_path
=link_to "Change Times", times_path
