%h2.add Add runners:
%p.info Separate runners with a new line.

= form_for :runners, :url => {:action => "create"}, :html => {:multipart => true} do |f|
  =f.label :names, "Runner Names:", :class => "runners-names"
  =f.text_area :names
  =f.submit "Add", :class => "submit"
